<header class="main-header">
    <section class="top-logo-group">
        <h1 class="logo">
            <a href="/" title="trml.me" rel="home">trnl.me</a>
        </h1>
        <div class="site-description">I/O of the mind</div>
    </section>
    <div class="menus-container">
        <span class="menu-sep">—</span>
        <nav id="main-menu" class="menu">
            <ul id="menu-primary" class="primary-menu">
                <li class="menu-item">
                    <a href="#">Projects</a>
                </li>
                <li class="menu-item">
                    <a href="#">Blog</a>
                </li>
            </ul>
        </nav>
        <span class="menu-sep">—</span>
        <nav class="social-menu menu">
            <ul id="menu-secondary-menu">
                <li  class="menu-item">
                    <a href="http://github.com/trnl">Github</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.facebook.com/miguro">Facebook</a>
                </li>
            </ul>
        </nav>
    </div>
</header>